Package: hypercx-nfv
Version: 1.0.0
Section: custom
Priority: optional
Architecture: all
Depends: keepalived, haproxy, wget, python, openvpn, ipcalc, nginx, strongswan, git, certbot, one-context, python3-certbot-nginx
Essential: no
Installed-Size: 1024
Maintainer: Virtalus <support@virtalus.com>
Homepage: https://docs.virtalus.com/Advanced_Components/Hypercx_NFV/
Description: Virtalus HyperCX NFV solution
